<table class="table table-striped">
  <thead>
  <th class="text-center" width="5%">
    <%= News::Post.human_attribute_name('id') %>
  </th>
  <th class="text-left" width="40%">
    <%= News::Post.human_attribute_name('title') %>
  </th>
  <th class="text-center" width="25%">
    <%= News::Post.human_attribute_name('created_at') %>
  </th>
  <th class="text-center" width="15%">
    <%= News::Post.human_attribute_name('hot') %>
  </th>
  <th class="text-center" width="5%">
    <%= News::Post.human_attribute_name('published') %>
  </th>
  <th class="text-center" width="10%">
  </th>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td class="text-center">
          <span class="label label-info"><%= post.id %></span>
        </td>
        <td class="text-left">
          <%= link_to post.title, admin_post_path(post) %>
        </td>
        <td class="text-center">
          <span class="label label-info"><%= l(post.created_at, format: :short) %></span>
        </td>
        <td class="text-center">
          <span class="label label-info"><%= post.hot ? fa_icon('plus') : fa_icon('minus') %></span>
        </td>
        <td class="text-center">
          <span class="label label-info"><%= post.published ? fa_icon('plus') : fa_icon('minus') %></span>
        </td>
        <td class="text-center">
          <%= link_to edit_admin_post_path(post), class: 'btn btn-default btn-sm' do %>
              <i><i class="fa fa-edit"></i> </i>
          <% end %>
          <%= link_to admin_post_path(post), method: :delete, class: 'btn btn-default btn-sm' do %>
              <i><i class="fa fa-trash-o"></i> </i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
