<div class="panel panel-default">
  <div class="panel-heading">
    Новость <%= "'#{@post.title}'" unless @post.new_record? %>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Заголовок</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= @post.title %>
        </td>
      </tr>
      <% if @post.hot %>
          <tr>
            <td style="width: 20%" class="text-right text-uppercase">
              <strong>Заголовок главной</strong>
            </td>
            <td style="width: 80%" class="text-left">
              <%= @post.title %>
            </td>
          </tr>
      <% end %>

      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Дата создания</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= l @post.created_at, format: :short %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Дата изменения</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= l @post.updated_at, format: :short %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Опубликовано?</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= @post.published ? 'Да' : 'Нет' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Текст</strong>
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          &nbsp;
        </td>
        <td class="text-left">
          <%= simple_format @post.body %>
        </td>
      </tr>
      <% if @post.hot_gallery_image_url || @post.main_gallery_image_url %>
          <% if @post.hot_gallery_image_url.present? %>
              <tr>
                <td style="width: 20%" class="text-right text-uppercase">
                  <strong>Изображение главной новости</strong>
                </td>
                <td style="width: 80%" class="text-left">
                  <%= image_tag @post.hot_gallery_image_url, class: 'img-responsive' %>
                </td>
              </tr>
          <% end %>
          <% if @post.main_gallery_image_url.present? %>
              <tr>
                <td style="width: 20%" class="text-right text-uppercase">
                  <strong>Основное изображение новости</strong>
                </td>
                <td style="width: 80%" class="text-left">
                  <%= image_tag @post.main_gallery_image_url, class: 'img-responsive' %>
                </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <div class="panel-footer text-right">
      <%= link_to t('buttons.edit'), edit_admin_post_path(@post), class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <ul id="images" class="list-unstyled">
      <%= render partial: 'photos/admin/pictures/picture', collection: @post_images if @post_images.present? %>
    </ul>
  </div>
</div>
